<html>
  <body style="background:green">
    <h1 style="text-align:center">Deployment Home</h1>
    <h2 style="text-align:center">This is the Demo of Machine learning model Deployment!</h2>
    <form style="padding: 0;font-weight: bold;text-align: center;display: block;">
      <p><label>Name <input type="text" name="first_name" placeholder="first name" required></label></p>
      <p><label> Email<input type="email" name="mail" placeholder="Mail address" required></label></p>
      <p><label> Pin code<input type="number" name="pin code" placeholder="pin code" required></label></p>
      <p><label>Description<input type="text" name="description" placeholder="description" required></label></p>
      <button>submit</button>
    </form>
  </body>
</html>